* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


form {
    background-color: rgba(216, 211, 208, 0.591);
    width: 80%;
    margin-top: 30px;
    margin-left: 50px;
    /* margin-right: 0px; */
    margin-bottom: 30px;
    padding-left: 15px;
    /* padding-right: 15px; */
    padding-bottom: 15px;
    display: flex;
    text-align: center;
    justify-content: left;
    flex-wrap: wrap;   
}

h1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: left;
    width: 90%;
}

input {
    width: 44.5%;
    margin: 15px;
    margin-right: 0px;
    height: 40px;
    border: none;
    border-left: 3px solid orange;;
    padding-left: 10px;
    box-shadow: 0 0 5px 5px #cbcbcb;
    /* transition: all 0.5s ease; */
}

textarea {
    margin: 15px;
    margin-right: 0px;
    width: 94.5%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-left: 3px solid orange;;
    padding-left: 10px;
    padding-top: 15px;
    box-shadow: 0 0 5px 5px #cbcbcb;
    /* transition: all 0.5s ease; */
}

input:hover, textarea:hover {
    border-left: 6px solid orange;;
}

form div {
    display: flex;
    justify-content: end;
}

div #botón {    
    width: 80px;   
    background-color: rgb(250, 99, 35);
    text-align: center;
    padding-left: 0;
    font-weight: 700;
    border: none;
    margin-right: 2.5%;    
}

#botón:hover {
    border: 2px solid black;
    cursor: pointer;
}

/* Esto sirve para que desaparezca el borde que aparece cuando pinchas: */
form input:focus, form textarea:focus {
    outline: none;
}

#botón:after {
    content: "\25BE";
    margin-left: 5px;
} 
/* {
    justify-content: end;
} */

/* ****EMPIEZAN MEDIAS QUERIES***** */
@media (max-width: 768px) {
    input {
        width: 90%
    }
    textarea {
        width: 90%
    }
}

@media (max-width: 480px) {
    form {
        padding-left: 3.5px;
    }
}

@media (min-width: 768px) {
    input {
        width: 45%;
    }
    textarea {
        width: 94%;
    }
}

@media (min-width: 800px) and (max-width: 1024px) {
    textarea {
        width: 93%;
    }
}

@media (min-width: 1024px) {
    form {
        padding-left: 25px;
    }
    textarea {
        width: 92%;
    }
}